@import "./styles/components/fonts";
@import "./styles/defaults/breakpoints";
@import "./styles/components/header";
@import "./styles/components/footer";
@import "./styles/components/utils";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
}

a {
    text-decoration: none;
}

.divider {
    width: 40%;
    margin: 0px auto;
    height: 1px;
    border-radius: 30px;
    background-color: grey;
}

.contentContainer {
   width: 70%;
   margin: 0px auto;
}

@media screen and (max-width: $medium) {
    .contentContainer {
        width: 80%;
    }
}





