@import "./styles/components/fonts";
@import "./styles/defaults/breakpoints";
@import "./styles/components/header";
@import "./styles/components/footer";
@import "./styles/components/utils";
@import "./styles/components/form";
@import "./styles/defaults/colors";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
}

b {
    color: $accent-red
}

a {
    text-decoration: none;
    color: $body-light;
    &:visited {
        color: $body-light;
    }
}

.divider {
    width: 40%;
    margin: 0px auto;
    height: 1px;
    border-radius: 30px;
    background-color: $cream;
}

.contentContainer {
   width: 70%;
   margin: 0px auto;
}

@media screen and (max-width: $medium) {
    .contentContainer {
        width: 80%;
    }
}





