// Unviersal styling -----
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

// Import fonts ----

// Headings - Cormorant Upright (med, semibold, bold)
    //font-family: 'Cormorant Upright', serif;
// Body - Palanquin 
    //font-family: 'Palanquin', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300;400;500&display=swap');

// Variables ----
$contentMargin: 60px;

// Headings -----

@mixin headingFont {
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
}

@mixin bodyFont {
    font-family: 'Palanquin', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

@mixin mobileFonts {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
    }
}

h1 {
    @include headingFont();
    font-size: 3.5em;
}

h2 {
    @include headingFont();
    font-size: 2.5em;
    text-align: center;
}

h3 {
    @include headingFont();
    font-size: 1.8em;
}

p, ul {
    @include bodyFont();
}


// Body  ----

a {
    text-decoration: none;
}

.divider {
    width: 40%;
    margin: 0px auto;
    height: 1px;
    border-radius: 30px;
    background-color: grey;
}

.contentContainer {
   width: 70%;
   margin: 0px auto;
}


// Nav ----

.navbar {
    background-color: aliceblue;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinks {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        margin: 10px 30px;
    }
    
}

// Nav mobile
@media screen and (max-width: 1000px) {
    ul {
        font-size: 1em;
    }
}

    // Nav column view when viewport is narrow
@media screen and (max-width: 650px) {
    .navLinks {
        flex-direction: column;

        li {
            margin: 5px;
        }
    }
}

// Index ----

.indexContainer {
    padding: 30px;
    min-height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

#landingInfo {
    p {
        font-size: 1.4em;
        font-weight: 400;
    }
    h1 {
        margin-bottom: -10px;
    }
}

// Index mobile
@media screen and (max-width: 1000px) {
    .indexContainer{
        flex-direction: column;
        padding: 50px 0px;
    }
    #landingInfo {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin: -5px 0px;
        }
        p {
            text-align: center;
        }
    }
}

@media screen and (max-width: 600px) {
    #imgPortrait {
        width: 500px;
    }

    #landingInfo {
        @include mobileFonts();
    }
}


#imgPortrait {
    max-width: 100%;
    clip-path: circle(37%);
}

// About me ----

#aboutContent {
    p {
        margin-top: -30px;
    }
}

#filmFlower {
    margin: -125px 0px;
    width: 100%;
    clip-path: polygon(100% 25%,100% 70%,0% 70%,0% 25%);
}


//About me mobile
@media screen and (max-width: 1000px) {
    #filmFlower {
        margin: -100px 0px;
    }
}

@media screen and (max-width: 600px) {
    #aboutContent {
        @include mobileFonts();
    }
}

// Footer ----
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-size: 0.9em;
        font-weight: 400;
        margin-top: 10px;
    }

    a {
        margin: 20px 30px 60px;
    }
}

// Footer mobile
@media screen and (max-width: 600px) {
    footer {
        a {
            margin: 10px 20px 30px;
        }
    }   
    
}

