@import "./fonts";
@import "./utils";
@import "../defaults/breakpoints";
@import "../defaults/colors";

@mixin formStyle() {
    resize: none;
    background-color: $cream;
    opacity: 0.5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Palanquin', sans-serif;
    outline: none;
}

form {
    margin: auto;
    min-width: 80%;
    display: flex;
    flex-direction: column;
}

.inputSmall {
    @include formStyle();
    min-height: 40px;
}

.inputLarge {
    @include formStyle();
}

::placeholder {
    font-family: 'Palanquin', sans-serif;
    color: $body-light;
    opacity: 0.6;
}

.submit {
    @include button();
    margin: auto;
    font-family: 'Palanquin', sans-serif;
    background-color: $accent-green;
    color: white;
    font-size: 1em;
    font-weight: 500;
    transition: $linktransition;

    &:hover {
        cursor: pointer;
        background-color: $accent-dkgreen;
    }
}